/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of reset css */

/* begin of regular stuff */

html {
	background-color: #C0C0C0;
	color: white;
	font-family: Verdana, "Times New Roman", Serif;
}

#gamespace {
	margin: 100px auto 0px auto;
	width: 450px;
	background-color: black;
}

.block {
	display: block;
	float: left;
	position: relative;width: 84px;
	height: 84px;
	background-color: #0e1725;
	margin-right: 2px;
	margin-bottom: 2px;
	color: #00CC00;
	text-shadow: 0 0 10px rgba(0,255,0,1) , 0 0 20px rgba(0,255,0,1) ;
	font-size: 65px;
	text-align: center;
	line-height: 84px;
	transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
	-o-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
	-moz-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
	-webkit-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
	-ms-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}
.block:hover {
  cursor: pointer;
  background-color: white;
}
